# Homework Python Basics

##### Emilio Espinosa S.

In [1]:
#Import libraries into workspace
import pandas as pd
import numpy as np
import datetime
import random
from datetime import datetime
from datetime import date

In [2]:
#Ceiba is a mexican startup that looks to take care of the senior population in Guadalajara. The platform has
#services and products and it starts with a system of memberships costing 80 (Elite) and 35 (basica) euros.
class Ceiba():
    def __init__(self, registration_form):
        self.registration_form = registration_form
        self.gender = None
        self.name = None
        self.birthdate = None
        self.age = None
        self.address = None
        self.membership_type = None
        self.membership_price = 0
        self.membership_years = 1
        self.membership_times_used = 0
        #Fixed cost
        self.cost_per_use = 25
  
    #Extract certain data from informatio given.
    def data_extracting(self):
        self.name = self.registration_form.split(' ')[1]
        self.gender = 'M' if self.registration_form.split(' ')[0] == 'Sr' else 'F'
        self.birthdate = self.registration_form.split('-')[1].strip()
        self.address = self.registration_form.split('-')[2].strip()
    
    #Recognize type of membership
    def data_featuring(self):
        self.membership_type = self.registration_form.split('-')[-1]
    
    #Clean data
    def get_data_cleaned(self):
        return{
            'name': self.name,
            'gender': self.gender,
            'birthdate': self.birthdate,
            'age': self.age,
            'address': self.address,
            'membership_price':self.membership_price,
            'membership_years':self.membership_years,
            'membership_times_used':self.membership_times_used,
            'cost_per_use':self.cost_per_use,
        }
    
    #Set membership prices depending on type of membership
    def set_membership_price(self, new_price):
        if new_price == ' Elite':
            self.membership_price = 80
        else:
            self.membership_price = 35
    
    #Set membership years
    def set_membership_years(self, new_price):
        self.membership_years = new_price
    
    #Set times used any service
    def has_used_membership(self):
        self.membership_times_used = random.randint(1,5)
    
    #Calculate age given
    def calculateAge(self):
        fecha = datetime.strptime(self.birthdate,'%Y/%m/%d')
        today = date.today()
        self.age = today.year - fecha.year - ((today.month, today.day) < (fecha.month, fecha.day))

In [3]:
#Basic data from clients
senior_lopez = Ceiba(
    registration_form = 'Sr Lopez - 1945/12/12 - David H Lawrence 5142 - Elite'
)
senior_Perez = Ceiba(
    registration_form = 'Sr Perez - 1940/05/05 - Av. Patria 4510 - Basica'
)
senior_Gonzalez = Ceiba(
    registration_form = 'Sra Gonzalez - 1935/03/03 - Av. Lopez Mateos 3478 - Elite'
)

In [4]:
#Day to day business
senior_lopez.registration_form
senior_lopez.data_extracting()
senior_lopez.data_featuring()
senior_lopez.set_membership_price(senior_lopez.membership_type)
senior_lopez.set_membership_years(int(input("How many years have you been a member? ")))
senior_lopez.has_used_membership()
senior_lopez.calculateAge()

How many years have you been a member? 3

In [5]:
senior_Perez.registration_form
senior_Perez.data_extracting()
senior_Perez.data_featuring()
senior_Perez.set_membership_price(senior_Perez.membership_type)
senior_Perez.set_membership_years(int(input("How many years have you been a member? ")))
senior_Perez.has_used_membership()
senior_Perez.calculateAge()

How many years have you been a member? 2

In [6]:
senior_Gonzalez.registration_form
senior_Gonzalez.data_extracting()
senior_Gonzalez.data_featuring()
senior_Gonzalez.set_membership_price(senior_Gonzalez.membership_type)
senior_Gonzalez.set_membership_years(int(input("How many years have you been a member? ")))
senior_Gonzalez.has_used_membership()
senior_Gonzalez.calculateAge()

How many years have you been a member? 1

In [7]:
#Summary of members of the community
senior_community = pd.DataFrame([senior_lopez.get_data_cleaned(),
                                senior_Perez.get_data_cleaned(),
                                senior_Gonzalez.get_data_cleaned()])
senior_community

,name,gender,birthdate,age,address,membership_price,membership_years,membership_times_used,cost_per_use
0,Lopez,M,1945/12/12,76,David H Lawrence 5142,80,3,1,25
1,Perez,M,1940/05/05,82,Av. Patria 4510,35,2,4,25
2,Gonzalez,F,1935/03/03,87,Av. Lopez Mateos 3478,80,1,2,25

In [8]:
#Ceiba's income per client
senior_community["Income"]=senior_community["membership_price"]*senior_community["membership_years"]+senior_community["membership_times_used"]*senior_community["cost_per_use"]
senior_community

,name,gender,birthdate,age,address,membership_price,membership_years,membership_times_used,cost_per_use,Income
0,Lopez,M,1945/12/12,76,David H Lawrence 5142,80,3,1,25,265
1,Perez,M,1940/05/05,82,Av. Patria 4510,35,2,4,25,170
2,Gonzalez,F,1935/03/03,87,Av. Lopez Mateos 3478,80,1,2,25,130

In [9]:
#Ceiba's brute income
Ceiba_income = senior_community["Income"].sum()
print("Ceiba's income is $",Ceiba_income)

Ceiba's income is $ 565